{% for task_id, form in forms.items() %}
<div class="modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true" id="{{task_id}}_args-form">
  <div class="modal-dialog modal-lg" role="document">
    <form action="{{ url_for('sched_bp.tasks') }}" method="POST">
      {{ form.hidden_tag() }}
      {% set task_name = form['name'].default %}
      {% set task_id = form['id'].default %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Run Task {{task_name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for field in form %}
          {%if field.type not in ('HiddenField','CSRFTokenField',) %}
          <div class="mb-3">
            <label class="col-form-label" data-bs-toggle="tooltip" data-bs-placement="left"
              title="{{ field.description}}">
              {{ field.label }}
              {%if field.description!='' %}
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M12 17l0 .01"></path>
                <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path>
              </svg>
              {% endif %}
            </label>
            {{ field }}
            {% if field.errors %}
            <ul>
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
          <div class="modal-footer">
            <button name="run_task" type="submit" class="btn btn-primary">Run Now!</button>
            <button name="save_args" type="submit" class="btn btn-primary">Save Default Arguments</button>
          </div>
        </div>
      </div>
    </form>
    {{ form.javascript|safe }}
  </div>
</div>
{% endfor %}